@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/* tes autres imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .Aboreto {
    font-family: 'Aboreto', serif;
  }
}

@keyframes colorChange {
  1% {
    background-color: rgb(145, 88, 231);
  }
  25% {
    background-color: rgb(149, 69, 230);
  }
  50% {
    background-color: rgb(203, 131, 195);
  }
  75% {
    background-color: rgb(149, 69, 230);
  }
  100% {
    background-color: rgb(145, 88, 231);
  }
}
  @keyframes floatRotate {
    0%   { transform: translateX(0px)  }
    100% { transform: translateX(30%) }
  }
  .svg-float-rotate {
    display: inline-block; 
    animation: floatRotate 1.5s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
  }

.color-change {
  background-color: rgb(145, 88, 231);
  animation: colorChange 4s infinite ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #804bf2;
}

.force-scrollbar {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* scroll smooth sur iOS */
}

canvas {
  height: 100vh !important;
  width: 100%;
}
